body {
  background-image: url("./UD29/prs_Tarea29_reus_Tablas_DIV_04_23/Ejercicio14/images/fondo.jpg");
  background-repeat: no-repeat;
  height: 500px;
  background-size: contain;
  background-position: center;
}

table {
  align-items: center;
  margin-top: 300px;
}

th {
  background-color: white;
}
td {
  background-color: rgb(230, 210, 99);
}
